body{
  align-items: center;
}


.main{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}